/*
    Custom CSS used for jQueryUI sortable implementation on craigslist homepage.

    Created with help from jQueryUI website:

    sortable page:
    https://jqueryui.com/sortable/

    sortable API:
    *http://api.jqueryui.com/sortable/

*/
/* 
    Created on : Sep 20, 2017, 6:08:37 PM
    Author     : Chris Gonzalez
*/

.column {
    float: left;
    padding-bottom: 120px;
}
.grouping {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}
.grouping-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}
.grouping-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    margin-right: 10px;
}
.grouping-content {
    padding: 0.4em;
}
.grouping-placeholder {
    border: 2px dotted black;
    margin: 0 1em 1em 0;
    height: 100px;
}
/*Adjusing size of top header with "milwaukee, WI"*/
div.regular-area{
    width: 70%
}
/*Icons for minimizing/expanding groupings*/
.fa-minus-square-o, .fa-plus-square-o {
    color: #a6a6a6;
}